TZ=Asia/Ho_Chi_Minh
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
ETL_DW_DATABASE=northwind_dw
ETL_DW_USER=etl_user
ETL_DW_PASSWORD=etl_password
AIRFLOW_PORT=8080
ETL_DW_USER=etl_user
ETL_DW_HOST=localhost
ETL_DW_PASSWORD=etl_password
AIRFLOW_ADMIN_USER=airflow_admin
AIRFLOW_ADMIN_PASSWORD=airflow_admin_pass
AIRFLOW_ADMIN_EMAIL=admin@etl.com
AIRFLOW_DB_PASSWORD=airflow_db_pass
AIRFLOW_SECRET_KEY=airflow_secret_key_1234567890